[BED]

# Print bed width in mm
width = 150

# Print bed height in mm
height = 150

[PATH]

#   Used to control the smoothness/sharpness of the curves.
#   Smaller the value greater the sharpness. Make sure the
#   value is greater than 0.1
smoothness = 0.2

[MACHINE]

# (mm)
z_clearance = 1

# (mm/s)
feed_rate = 30

[3DPRINT MACHINE]

# (mm)
nozzle_diameter = 0.4

# (mm)
layer_height = 0.3

#
flow_multiplier = 1

[3DPRINT MATERIAL]

# (°C)
bed_temperature = 75

# (°C)
e0_temperature = 235

# (mm)
filament_diameter = 1.75

# [0,255]
fan = 0
